// Utilities
@import "./utilities";

#contact {
  #contact-container {
    @include background-style;
    
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    #contact-icons {
      width: 90%;
    } 
    iframe {
      width: 90%;
    }

    @media screen and (max-width: 768px) {
      width: 90vw;
      display: block;

      iframe {
        width: 100%;
        min-height: 400px;
      }
    }

    p {
      margin: 0.5em 0;
    }
  }
}